/* regole generali */
body{
  font-size: 15px;
  font-family: 'spotify-circular', 'Montserrat',sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font_white{
  color:white;
}

.font_grey{
  color:#7d7f84;
}
a {
  text-decoration: none;
  color:#7d7f84;
}
a:hover{
  color: white;
}


/* ***************** SIDE SECTION BIG*********** */
#SIDE_SECTION{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 20px ;
  width:200px;
  height: calc(100vh - 80px);
  background-color: black;
}

#home a, #playlist a,#installa a{
 padding-left: 2px;
 display: block;
 font-weight: bold;
 font-size: .5rem;
 margin: 5px 0;
 border-left: solid 3px black;
 transition: .1s;
}

 #home a:hover, #playlist a:hover,#installa a:hover{
   border-color:#b7fd47;
 }

#home img {
   max-width: 30px;
 }


 .PLUS{
  font-size: 30px;
 }

 .logo{
   max-width:60%;
   height: auto;
   margin: 5% 0;
 }

 #playlist{
   padding:10px 0;
   flex-grow: 1;
   color:white;
   overflow: auto;
 }

 #playlist a{
   margin: 20px 0;
 }


 #installa img {
   max-width: 10px;
   margin-right: 5px;
 }

 .profile{
   font-weight: bold;
   color: white;
 }


/* ***************** SIDE SECTION SMALL********** */
#SIDE_SECTION_SMALL{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2px ;
  width:50px;
  height: calc(100vh - 80px);
  background-color: black;
  display: none;
}

#home_small{
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  color:white;
}

#SIDE_SECTION_SMALL a{
  width:30px;
}

.small_logo{
  width: 100%;
  min-height: 30px;
  padding: 5px;
}

#installa_small{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#installa_small img{
  max-width: 15px;
}


/* ******************** MODIFICA ASPETTO SCROLLBAR ********************* */


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 2px none #e60a0a;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b7fd47;
}
::-webkit-scrollbar-thumb:active {
  background: #b7fd47;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

  /* ******************** FINE MODIFICA ASPETTO SCROLLBAR ********************* */




/* ****************      MAIN SECTION    *********************** */

#MAIN_SECTION{
  width: calc(100vw - 200px);
  height :calc(100vh - 80px);
  margin-left: 200px;
  background-color: #141922;
  overflow: auto;
}

#UPGRADE{
  width: calc(100vw - 200px);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/* **************  BOTTONE UPGRADE E ANIMAZIONE************** */

#upgrade_button{
  text-align: center;
  font-size: .5rem;
  font-weight: bold;

  padding-top: 8px;
  width: 150px;
  min-height: 30px;
  border: solid 1px white;
  border-radius: 25px;
  transition: transform 0.3s;
}

#upgrade_button:hover{
  text-align: center;
  cursor: pointer;
  width: 180px;
  height: 35px;
  padding-top: 10px;
}


.menu_selected{
  background: rgba(173, 255, 47, 1 ) ;
  text-align: center;
  width: 40px;
  height: 3px;
  margin:auto;
  border-radius: 5px;
  transition: .1s ;
  opacity: 0;
}

.menu_item:hover .menu_selected{
  opacity: 1;
}


#SONGS{
  margin-top: 80px;
  padding: 2% 1%;
  /* width: 100%; */

}

.menu{
  max-height: 15px;
  margin: 0 5px;
  font-size:.8rem;
  font-weight: bold;
  color:#7d7f84;
}

#raccolte{
  padding: 10px 10px;
}

#album{
  display: flex;
  justify-content: flex-start;
}

#album h5, #album h3{
  margin: 10px 0;
}


#song_menu{
  max-width: calc(100vw - 200px);
  display: flex;
  justify-content:center;
  align-items: baseline;
}





/* ********** CREAZIONE BOX CON COPERTINA, TITOLO E ARTISTA *********************** */
.album_box{
  padding:5px;
  flex-basis: calc(100% / 6);
  text-align: center;
}

.titolo_album{
  margin: auto;
  max-width: 200px;
  color:white;
  font-size: 1rem;
}

.titolo_raccolta{
  margin: 30px 0 ;
  padding: 10px 0;
  color: white;
}

.rounded{
  border-radius: 50%;
}





/* ***************** ICONA PLAY SU HOVER IMMAGINE************* */
.cover{
  position: relative;
}

.play_album{
  color: white;
  font-size: 80px;
  position: relative;
  transition: .1s ;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.immagine{
  opacity: 1;
  height: auto;
  transition: .1s ;
}




/* ***********************  BOTTOM SECTION************************* */

#BOTTOM_SECTION{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #282828;
}


/* ********** BRANO IN CORSO ****************** */
#titolo_brano{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  padding: 5px 5px;
}

#titolo_brano img{
  max-width: 50px;
  min-width: 50px;
}

.titolo_e_artista{
  max-width: 100px;
}

.icons{
  margin: 0 10px;
  font-size:1.2rem;
  font-weight: bold;
  color:#7d7f84;
}

/* ********** CENTRAL PLAYER AND PROGRESS BARS ****************** */
#player{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 80px;
  flex-grow: 1;
}

#comandi_player{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 25%;
  font-size: 1rem;
  min-height: 60%;
}


#barra_player{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7d7f84;
  width: 100%;
  min-width: 25%;
  min-height: 40%;
}


.player_icons{
  margin: 0 10px;
  font-size:1rem;
  color:white;
}

.PLAY{
  font-size: 2rem;
}

.barra_base{
  display: inline-block;
  width:350px;
  height: 5px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #7d7f84;
}

.barra_avanzamento{
  display: inline-block;
  position: relative;
  left:15px;
  width:150px;
  height: 5px;
  border-radius: 5px;
  background-color: #c1c1c1;
}

.pallino{
  position: absolute;
  right: 0;
  transform: translateY(-3px);
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: lightgrey;
  display:none;
}



/* ********** VOLUME RIGHT SIDE****************** */

.volume{
  width: 25%;
}
.volume_icons{
  font-size: .5rem;
  color: white;
}


#volume{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}



/* **************************************  MEDIA QUERY  ************************** */



/* **************VIEWPORT TRA 800 E 1200 *********************** */



@media screen and (min-width: 800px) and (max-width: 1200px) {

/* * ***** ALBUM 4 SOPRA E 2 SOTTO**********  */
  #album{
    flex-wrap: wrap;
  }

  .album_box{
    flex-basis: calc(100% / 4);
  }

  .titolo_album{
    font-size: .8rem;
  }
}




/* **************VIEWPORT TRA 640 E 799 *********************** */

@media screen and (min-width: 640px) and (max-width: 799px) {

  /* ************* MENU SU DUE RIGHE***************** */
  .menu{
    font-size:.6rem;
  }
  #song_menu{
    flex-wrap: wrap;
  }


  /*  ******* ALBUM 2 SOPRA E 2 SOTTO**********   */

  #album{
     flex-wrap: wrap;
    }

  .album_box{
   flex-basis: calc(100% / 2);
  }

  .titolo_album{
   font-size: .4rem;
  }

}









/* **************VIEWPORT TRA 551 E 638 *********************** */


@media screen and (min-width: 551px) and (max-width: 639px){

/* ************* MENU SU DUE RIGHE***************** */
  .menu{
    font-size:.6rem;
  }
  #song_menu{
    flex-wrap: wrap;
  }

  /*  ******* ALBUM 2 SOPRA E 2 SOTTO**********   */

  #album{
   flex-wrap: wrap;
  }

  .album_box{
   flex-basis: calc(100% / 2);
  }

  .titolo_album {
   font-size: .2rem;
  }


}





/* **************VIEWPORT FINO 550  *********************** */


@media screen and (min-width: 2px) and (max-width: 550px) {

/* ************* MENU SU DUE RIGHE***************** */
  .menu{
    font-size:.6rem;
  }

  #song_menu{
    flex-wrap: wrap;
  }



  /*  ******* ALBUM 2 SOPRA E 2 SOTTO**********   */

  #album{
   flex-wrap: wrap;
  }

  .album_box{
   flex-basis: calc(100% / 2);
  }

  .titolo_album{
   font-size: .6rem;
  }


  /* * ***** SOSTITUZIONE  SIDEBAR  CON VERSIONE PICCOLA ********** */
  #SIDE_SECTION_SMALL{
    display:flex;
    width: 40px;
  }

  #SIDE_SECTION{
    display:none;
  }

  #MAIN_SECTION{
    width: calc(100vw - 40px);
    margin-left: 40px;
    background-color: #141922;
    overflow: auto;
  }

  #song_menu{
    max-width: calc(100vw - 40px);
  }

  #UPGRADE{
    width: calc(100vw - 40px);
  }





}
