/* regole generali */
body{
  font-size: 15px;
}
img {
  max-width: 150px;
  height: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  display: flex;

}

.font_white{
  color:white;
}

.font_grey{
  color:lightgrey;
}

/* **************DEBUGGING ***************** */
div, nav{
  border: solid 1px red;

}



/* **************  CREAZIONE MACROSTRUTTURA  ************** */


#total_viewport{
  width: 100vw;
  height: 100vh;
}


/* ***************** side section*********** */
#SIDE_SECTION{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px 10px;



  width:200px;
  height: calc(100vh - 80px);
  background-color: black;
}


#home{
  align-items: flex-start;
  color:white;

}

#playlist{
  flex-grow: 2;
  color:white;

}
#installa{

  color:white;

}


/* ********main section********** */

#MAIN_SECTION{
  width: calc(100vw - 200px);
  height :calc(100vh - 80px);
  background-color: #141922;
  overflow: auto;

}

#upgrade_button{
  text-align: center;
  width: 200px;
  border: solid 1px white;
  border-radius: 20px;

}
#UPGRADE{

  /* perchè ho dovuto reinserire la larghezza che è già dentro un contenitore */
  width: calc(100vw - 200px);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: rgba(20, 25, 34, 0.5);
}


.menu{
  margin: 0 5px;
  font-size:.8rem;
  font-weight: bold;
  color:#7d7f84;
  flex-shrink: 0;


}

#SONGS{
  margin-top: 80px;
  width: 100%;
  min-height: calc(100% - 80px) ;
  background-color: lightgreen;
}

#song_menu{
  display: flex;
  justify-content:center;
}


li{

  list-style: none;

}

/* #albums{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
} */

#raccolte{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;




  /* overflow: auto; */
  /* width: 100%; */
  /* height: 100%; */
  background-color: yellow;
}

#recently_played{
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */

}

.album_box{
  text-align: center;
  margin-right: 15px;
  max-width: calc(100% / 6 )-15px;
  height:auto;
  background-color: white;

}
.titolo_blocco{
  padding: 20px 20px;
}



/* ***************BOTTOM SECTION******************* */

#BOTTOM_SECTION{

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #282828;

}

#titolo_brano{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;

  padding: 5px 5px;
  background-color: white;
}

#titolo_brano img{
  max-width: 50px;
  height: auto;

}

.titolo_e_artista{
  flex-grow:1;
}




#player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: white;
  flex-grow: 1;
}

#comandi_player{
  width: 60%;
  height: 30px;
  background-color: red;
}

#barra_player{
  margin: auto;
  width: 60%;
  height: 30px;
  background-color: red
}

#volume{
  width: 200px;
  padding: 5px 5px;
  background-color: white;
}


/* ********  MEDIA QUERY  ********* */


/* Small devices (tablets,991px and up) */
@media screen and (max-width: 1390px) {
  .album_box{

    /* width: calc(100% / 4 )-15px; */



  }





 @media screen and (max-width: 767px) {



 }
